/* Prevents slides from flashing */

#slides {
  display: none
}

.slidesjs-navigation + .slidesjs-navigation {
  margin-left: 10px;
}

.slidesjs-pagination {
  float: right;
  display: flex;
}

.slidesjs-pagination-item {
  list-style: none;
}

.slidesjs-pagination-item + .slidesjs-pagination-item {
  margin-left: 10px;
}

/*

 .slidesjs-pagination {
  margin: 7px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  outline: none;
  margin-left: 5px;
}
*/
